/* Weight */

.font-thin {
    font-weight: var(--app-font-thin)
}

.font-light {
    font-weight: var(--app-font-light);
}

.font-normal {
    font-weight: var(--app-font-normal);
}

.font-bold {
    font-weight: var(--app-font-bold);
}

.font-bolder {
    font-weight: var(--app-font-bolder);
}

.font-black {
    font-weight: var(--app-font-black);
}


/* Size */

.font-xs {
    font-size: var(--app-font-size-xs);
}

.font-sm {
    font-size: var(--app-font-size-sm);
}

.font-base {
    font-size: var(--app-font-size-base);
}

.font-lg {
    font-size: var(--app-font-size-lg);
}

.font-xl {
    font-size: var(--app-font-size-xl);
}

.font-2xl {
    font-size: var(--app-font-size-2xl);
}

.font-3xl {
    font-size: var(--app-font-size-3xl);
}

.font-4xl {
    font-size: var(--app-font-size-4xl);
}

.font-5xl {
    font-size: var(--app-font-size-5xl);
}

.font-6xl {
    font-size: var(--app-font-size-6xl);
}

.font-7xl {
    font-size: var(--app-font-size-7xl);
}

.font-8xl {
    font-size: var(--app-font-size-8xl);
}

.font-9xl {
    font-size: var(--app-font-size-9xl);
}

.font-10xl {
    font-size: var(--app-font-size-10xl);
}
